version: "3"
services:
  postgres:
    image: postgres:alpine
    container_name: p2p_chat_postgres
    ports:
      - 5432:5432
    env_file:
      - database.env
    volumes:
      - database-data:/var/lib/postgresql/data/
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  # elasticsearch:
  #   image: docker.elastic.co/elasticsearch/elasticsearch:7.11.2
  #   container_name: elastic_search
  #   environment:
  #     - node.name=elasticsearch
  #     - discovery.seed_hosts=elasticsearch
  #     - cluster.initial_master_nodes=elasticsearch
  #     - cluster.name=docker-cluster
  #     - bootstrap.memory_lock=true
  #     - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
  #   ulimits:
  #     memlock:
  #       soft: -1
  #       hard: -1
  # volumes:
  # - data01:/usr/share/elasticsearch/data
  # ports:
  #   - 9200:9200

volumes:
  database-data:
